// Colors
$magenta: 		#ec008c;
$green: 			#6e9d42;
$teal: 				#18879b;
$orange: 			#e57e26;
$teal: 				#18879b;
$dark-gray: 	#454545;
$nav-gray: 		#747c83;
$light-gray:	#c3c3c3;


// Functional Colors
$sidebarLinkHoverColor: $green;
$sidebarBackgroundColor: #fff;
$structureBorderColor: #eee;


// Configuration
$transitionLength: .2s;
$sidebarOpenedWidth: 240px;
$headerHeight: 63px;
$footerHeight: 180px;

// Breakpoints
$bp-small: "only screen and (max-width : 40em)";
$bp-medium: "only screen and (min-width : 40.063em)";
$bp-large: "only screen and (min-width : 64.063em)";