h2.huge-module__title=name
form.snippet
  fieldset
  
    .row
      .medium-6.column
        label First Name
        input(type='text', placeholder="Enter first name")
      .medium-6.column
        label Last Name
        input(type='text', placeholder="Enter last name")
        
    .row
      .medium-6.column
        label Email
        input(type='email', placeholder="Enter email")
      .medium-6.column
        label Password
        input#password-field.form-control(type='password', name='password', value='password')
        span.fa.fa-fw.fa-eye.field-icon.toggle-password(toggle='#password-field')
  
    .row 
      .medium-6.column
        label Gender
        span
          select
            option Male
            option Female
    
    .row
      .medium-6.column
        label Date
        input(type='Date', placeholder="")
      .medium-6.column
        label Textarea
        textarea(cols='30', rows='5') Enter text here...
    
    .row
      .medium-6.column
        label Telephone Number
        input(class='phone', type="text")
        
    .row
      .medium-6.column
        label Disabled
        input(type='disabled', placeholder="I am not editable", disabled="", value="Disabled")
      .medium-6.column
        label File input
        .upload-btn-wrapper
          button.button.button-small Upload
          input(type='file')
          label Choose a file

    .row
      .medium-6.column
        label With helptext
        input.sample(type='text', placeholder="")
        label.helptext This is help or error text
        
      .medium-6.column
        p
          input#opt1.hidden-xs-up(type='radio', name='rdo')
          label.radio(for='opt1')
          span.rlabel(for='opt1') Left
        
          input#opt2.hidden-xs-up(type='radio', name='rdo')
          label.radio(for='opt2')
          span.rlabel(for='opt2') Right
            
        label
          input#cbx.hidden-xs-up(type="checkbox")
          label.cbx(for="cbx")
          span.lbl(for="cbx") Checkbox input
    .row
    .row
      .medium-6.column
        label Badges

        p
          span.badge.badges-default 1
        p
          span.badge.badges-success 10
        p
          span.badge.badges-removed 100
        p
          span.badge.badges-inprogress 1K
        p
          span.badge.badges-new 10K
        p
          span.badge.badges-moved 100K
          
      .medium-6.column
        label Lozenges
        
        p
          lozenges.lozenges-default ACTIVE
        p
          lozenges.lozenges-success SUCCESS
        p
          lozenges.lozenges-removed REMOVED
        p
          lozenges.lozenges-inprogress IN PROGRESS
        p
          lozenges.lozenges-new NEW
        p
          lozenges.lozenges-moved MOVED
        
        
    .row        
      .medium-6.column
        p
          img.avatar-xxlarge(src='https://atlassian.design/uploads/guidelines/product/avatars/person-xlarge-128px-avatar.png', style='')
          | Lorem ipsum 
        p
          img.avatar-xlarge(src='https://atlassian.design/uploads/guidelines/product/avatars/person-xlarge-128px-avatar.png', style='')
          | Lorem ipsum
        p
          img.avatar-large(src='https://atlassian.design/uploads/guidelines/product/avatars/person-xlarge-128px-avatar.png', style='')
          | Lorem ipsum
        p
          img.avatar-medium(src='https://atlassian.design/uploads/guidelines/product/avatars/person-xlarge-128px-avatar.png', style='')
          | Lorem ipsum
        p
          img.avatar-small(src='https://atlassian.design/uploads/guidelines/product/avatars/person-xlarge-128px-avatar.png', style='')
          | Lorem ipsum 
        p
          img.avatar-xsmall(src='https://atlassian.design/uploads/guidelines/product/avatars/person-xlarge-128px-avatar.png', style='')
          | Lorem ipsum
     
      
    .row
      label Banner
        .banner
          p
            | Lorem ipsum dolor sit amet, consectetur adipiscing elit, ed do eiusmod tempor incididunt ut labore et dolore magna.

    .row 
      label Tooltip
        
    .row 
      label Toggle
      

    .row



      
      

    
