$magenta: #ec008c;
$black: #000;
$gray-dark: #232525;
$gray: #808080;
$blue: #2fbbf9;
$green: #75a642;


.text-magenta {
  color:$magenta;
}

.text-black {
  color:$black;
}

.text-gray-dark {
  color:$gray-dark;
}

.text-gray {
  color:$gray;
}

.text-blue {
  color:$blue;
}

.text-green {
  color:$green;
}

.bg-magenta {
	background-color: $magenta;
}

.bg-green {
  background-color: $green;
}

.bg-black {
	background-color: $black;
}

.bg-gray {
	background-color: $gray;
}

.bg-blue {
	background-color: $blue;
}

#colors {
  li {
    position: relative;
    padding: 0;
    margin-bottom: 0.9375em;

    p {
      position: absolute;
      padding: 3px 13px;
      color: #666;
      background-color: #fff;
      font-size: 12px;
      bottom: 0;
      left: 0.9375em;
    }
    .color {
      height: 120px;
      margin-right: 0.9375em;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}