$black: #000;

.button {
	background: none;
	color: black;
	border: 1px solid black;
	border-radius: 4px;
	margin: 4px;
	margin-right: 12px;
	vertical-align: bottom;
	cursor: pointer;
	text-decoration: none !important;
	display: inline-block;
	font-family: Gordita, sans-serif;
	text-align: center;
	-webkit-transition: background-color 0.3s,opacity 0.3s;
	-moz-transition: background-color 0.3s,opacity 0.3s;
	-o-transition: background-color 0.3s,opacity 0.3s;
	transition: background-color 0.3s,opacity 0.3s;

	&.button-large {
		padding: 11px 40px;
		font-size: 24px;
	}

	&.button-medium {
		padding: 11px 32px;
		font-size: 20px;
	}

	&.button-normal {
		padding: 9px 24px;
		font-size: 14px;
	}

	&.button-small {
		padding: 3px 16px;
		font-size: 12px;
	}

	&.button-racetrack-large {
		padding: 22px 40px;
		font-size: 24px;
		line-height: 26px;
		border-radius: 32px;
	}

	&.button-racetrack-medium {
		padding: 18px 32px;
		font-size: 20px;
		line-height: 26px;
		border-radius: 32px;
	}

	&.button-racetrack {
		padding: 10px 24px;
		font-size: 14px;
		line-height: 26px;
		border-radius: 32px;
	}

	&.button-racetrack-small {
		padding: 3px 16px;
		font-size: 12px;
		line-height: 26px;
		border-radius: 32px;
	}

	&.button-solid {
		color: white;
		background: black;
		border: 1px solid black;
		padding: 9px 24px;
		font-size: 14px;
	}

	&.button-solid-racetrack {
		color: white;
		background: black;
		border: 1px solid black;
		line-height: 26px;
		border-radius: 32px;
		padding: 10px 20px;
	}

	&.button-icon {
		padding: 9px 18px;
		font-size: 14px;

		a {
			text-decoration: none;
		}
	}

	&.button-dropdown {
		padding: 9px 18px;
		font-size: 14px;

		a {
			text-decoration: none;
		}
	}

	&.button-split {
		padding: 9px 18px;
		font-size: 14px;
		margin: 0;
		border: none !important;

		&:hover {
			border: none;
			border-left: 1px solid black;
		}
	}

	&.button-dropdown-split {
		padding: 9px 18px;
		font-size: 14px;
		margin: 0;
		border: none;
		border-left: 1px solid black;
		border-radius: 0;

		&:hover {
			border: none;
			border-left: 1px solid black;
		}
	}

}

.button.load {
	-webkit-transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275) all;
	-moz-transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275) all;
	-o-transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275) all;
	transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275) all;
}

.button:hover {
	border: 1px solid #d9d9d9;
	background-color: #d9d9d9 !important;
	color: #fff;
}

.icon-left {
	margin-right: 8px;
}

.icon-right {
	margin-left: 12px;
}

.dropdown-menu {
	width: 15%;
	display: none;
  position: absolute;
  left: 0;
  padding: 0;
  margin-left: 172px;
  margin-top: 10px;
  text-align: left;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);

	li {
		padding: 10px;
	}
}
