@import "../../assets/fonts/Huge/stylesheet.css";

$font-primary: Gordita;

.font-huge {
	font-family: 'Gordita', Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	font-weight: normal;
}


.font-gordita {
	font-family: 'Gordita', Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	font-weight: normal;
}

.font-galaxie {
	font-family: 'Gordita', Helvetica, Roboto, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	font-weight: normal;
}

.italic {
	font-style: italic;
}

h1 {
	font-size: 36px;
	font-weight:500;
	line-height: 60px;
}

h2 {
	font-size: 32px;
	font-weight:500;
	line-height: 60px;
}

h3 {
	font-size: 28px;
	line-height: 60px;
}

h4{
	font-size: 24px;
	line-height: 45px;
}

h5 {
	font-size: 20px;
	line-height: 45px;
}

h6 {
	font-size: 16px;
	line-height: 45px;
}

p {
	font-size:14px;
	font-family:$font-primary;
	font-style: normal;
	line-height: 30px;
}

#typography {
  h1, h2, h3, h4, h5, h6, p {
    margin-top: 0;
  }
}